[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Cython = "*"
assertpy = "*"

[dev-packages]
flake8 = "*"
black = "==19.10b0"
tox = "*"
pytest-cython = "*"
pytest = "*"

[requires]
python_version = "3.8"
